.appBarWrapper {
  height: 55px;
  background-color: #64B5F6;
  border-top: white 2px solid;
  border-left: white 2px solid;
  border-right: white 2px solid;
  border-radius: 5px 5px 0 0;
  margin: 0 50px;
  box-shadow: rgba(29, 29, 29, 0.3) 0px 0px 1.25em 0.25em;
}

.appBarContent {
  display: flex;
  height: 55px;
}

.menuIcon {
  height: 30px;
  width: 30px;
  padding: 12px 0 0 30px;
}


.title {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  padding-left: 10px;
  padding-right: 70px;
  color: white;

  @media(max-width: 375px) {
    font-size: 7vw;
  }

}

.hamburgerButton:hover {
  cursor: pointer;
}
