.appBarWrapper {
  height: 55px;
  background-color: #BDBDBD;
  border-radius: 5px;
  margin: 0 50px;
  box-shadow: rgba(29, 29, 29, 0.3) 0px 0px 1.25em 0.25em;
}

.appBarContent {
  display: flex;
  height: 55px;
}

.menuIcon {
  height: 30px;
  width: 30px;
  padding: 12px 0 0 30px;
}


.title {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  padding-left: 10px;
  padding-right: 70px;

  @media(max-width: 375px) {
    font-size: 7vw;
  }

}

.hamburgerButton:hover {
  cursor: pointer;
}
