.appBarWrapper {
  height: 80px;
  background-color: white;
}

.appBarContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  padding: 0 20px;
}

menuitem {
  flex: 1;
  display: flex;
  justify-content: center;
}

.first {
  margin-right: auto;
}

.last {
  margin-left: auto;
}

.menuIcon {
  height: 30px;
  width: 30px;
}

.title {
  font-size: 30px;
  color: #3d4252;
  display: flex;
  align-items: center;
  margin-left: 5%;

  @media (max-width: 375px) {
    font-size: 7vw;
  }

  .logo {
    width: 50px;
    height: 50px;
    padding-right: 5px;
  }
}

.hamburgerButton:hover {
  cursor: pointer;
}

.loginButton {
  color: #3d4252;
  font-size: 16px;
  font-family: 'EstiloW01-TextLight';
}
