.appBarWrapper {
  height: 80px;
  background-color: white;
}

.appBarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 90%;
  margin: auto auto;
}

.menuIcon {
  height: 30px;
  width: 30px;
}


.title {
  font-size: 30px;
  color: #3d4252;

  @media(max-width: 375px) {
    font-size: 7vw;
  }

}

.hamburgerButton:hover {
  cursor: pointer;
}

.loginButton {
  color: #3d4252;
  font-size: 16px;
  font-family: Verdana;
}
