.appWrapper {
  font-family: 'EstiloW01-TextLight';
  width: 100%;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  height: 650px;
  margin: 0 10px;
  border-radius: 0 0 10px 10px;
}

.portfolioContainer {
  width: 50%;
  margin: 10px 1% 10px 10px;
  border-radius: 10px;
  background-color: #bdbdbd;
  padding-bottom: 5%;
  box-shadow: rgba(29, 29, 29, 0.3) 0px 0px 1.25em 0.25em;
}

.rightSideContainer {
  width: 50%;
  margin: 10px 1% 10px 10px;

  .searchContainer {
    height: 48%;
    border-radius: 10px;
    background-color: #bdbdbd;
    margin-bottom: 21px;
    box-shadow: rgba(29, 29, 29, 0.3) 0px 0px 1.25em 0.25em;
  }

  .detailsContainer {
    height: 49%;
    border-radius: 10px;
    background-color: #bdbdbd;
    box-shadow: rgba(29, 29, 29, 0.3) 0px 0px 1.25em 0.25em;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    padding: 10px;
    height: 100%;
  }

  .portfolioContainer {
    width: 100%;
    margin: 0; // reset margins from desktop view
    margin-bottom: 21px;
    height: 500px;
  }

  .rightSideContainer {
    width: 100%;
    margin: 0;

    .searchContainer {
      height: 300px;
    }

    .detailsContainer {
      height: 300px;
    }
  }
}
