.detailsContentContainer {
  display: flex;
  flex-direction: column;
  margin: 2% 2% 0 2%;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: rgba(29, 29, 29, 0.3) 0px 0px 1.25em 0.25em;
  height: 80%;
  background: #ffffff;
}

.detailHeaderRow {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
}

.selectedCurrency {
  margin: auto 0;
}

.image {
  height: 100%;
  margin: auto 0;
}

.label {
  display: block;
  width: 155px;
  margin-right: 25px;
}

.detailInfo {
  display: flex;
  justify-content: space-between;
}

.coinNameContainer {
  display: flex;
  align-items: center;
  margin: auto 0;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.addToggleCoinContainer {
  display: flex;
  flex-direction: row;
  margin: auto 0;

  .buttonContainers {
    padding-bottom: 2px;
    height: 30px;
    margin: 0 5px;

    @media (max-width: 425px) {
      flex-direction: column;
    }
  }

  .addButton {
    height: 25px;
    border-radius: 5px;
    border: 2px solid #616161;
    background-color: #64b5f6;
    color: #ffffff;
  }
  .addButton:hover {
    background-color: #2196f3;
    cursor: pointer;
  }
  .addButton:focus {
    outline: none;
  }
  .addButton:active {
    border-color: white;
  }

  h6 {
    font-size: 10px;
    margin: auto 0;
    padding-right: 5px;
  }
}

.detailInfoRow {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  font-size: 20px;
  margin: 0 15%;

  @media (max-width: 1200px) {
    margin: 0 5%;
  }

  .coinInfoRow {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}

.coinIcon {
  height: 30px;
  width: 30px;
  padding-right: 5px;
}

.chartButtonContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 7px 0;

  .chartButton {
    height: 20px;
    width: 75px;
    border-radius: 5px;
    border: 2px solid #616161;
    font-size: 15px;
  }
  .chartButton:hover {
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
  }
  .chartButton:focus {
    outline: none;
  }
}

.active {
  background-color: #64b5f6;
}
