.portfolioItemContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 3% 3% 0 3%;
  height: 50px;
  border: 5px solid #616161;
  border-radius: 5px;
}

.itemLabelContainer {
  display: flex;

  .icon {
    padding-right: 10px;
    height: 30px;
    width: 30px;
  }

  span {
    margin: auto 0;
    font-weight: 1000;
  }
}
