.portfolioHeaderContainer {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  background: white;
  border-radius: 10px;
  border: 10px solid #616161;
  margin: 3%;
  padding: 2%;
}

.headerItem {
  width: 130px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  border: 1px solid black;
  border-radius: 10px;
}
