.portfolioHeaderContainer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: white;
  border-radius: 10px;
  border: 10px solid #616161;
  margin: 3%;
  padding: 2%;
}