.portfolioItemContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin: 3% 3% 0 3%;
  height: 60px;
  border: 5px solid #616161;
  border-radius: 5px;
  padding: 0 10px;
}
.portfolioItemContainer:hover {
  cursor: pointer;
}

.itemLabelContainer {
  display: flex;
  width: 125px;

  .icon {
    height: 30px;
    width: 30px;
  }

  span {
    margin: auto 0;
    padding: 0 5px;
    font-weight: 1000;
  }
}

.headerItemContainer {
  display: flex;
  flex-direction: column;
  width: 125px;
  text-align: center;
}
.detailsContainer {
  display: flex;
  justify-content: center;

  .chevronUp {
    height: 20px;
    width: 20px;
    padding-left: 20px;
    transition: all 400ms ease;
  }
  .chevronDown {
    height: 20px;
    width: 20px;
    padding-right: 20px;
    transform: rotate(-180deg);
    transition: all 400ms ease;
  }
}
