.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 5% 0 5%;

  .searchInput {
    height: 40px;
    width: 70%;
    border-radius: 10px 0 0 10px;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-color: #616161;
    font-size: 80%;
    padding-left: 10%;
  }
  .searchInput:focus {
    outline: none;
  }

  .searchButton {
    height: 46px;
    width: 20%;
    border-radius: 0 5px 5px 0;
    border: solid 2px #616161;
    background-color: #64b5f6;
  }
  .searchButton:hover {
    background-color: #2196f3;
    cursor: pointer;
  }
  .searchButton:focus {
    outline: none;
  }
  .searchButton:active {
    border-color: white;
  }
}
