.headerBar {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: white;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
}

.headerTitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
