.lotsMainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 5% 3% 5%;
  background: white;
  border: solid 5px #616161;
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.lotsTitleHeaders {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid #616161;
}

.headerItem {
  width: 125px;
  text-align: center;
}
