body,
html {
  height: 100%;
  margin: 0;
  font-family: Verdana;
}

#app {
  height: 100%;
}

.modalContainer {
  height: 400px;
  width: 400px;
  margin: auto auto;
  border-radius: 4px;
  background-color: white;
}

.contentContainer {
  min-height: 300px;
  padding-top: 25px;
  padding-bottom: 50px;
  width: 70%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  outline: none;
  font-size: 14px;
  padding: 6px;
  margin-top: 8px;
  border-width: 0px 0px 1px 0px;
}

.inputRequired {
  border-color: #db202a;
}

.loginHeader {
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 4px;
  padding: 6px;
}

.submitButton {
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #3d4252;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border-color: #3d4252;
  outline: none;
  margin: 5px;
  cursor: pointer;
}
.submitButton:disabled {
  background: #bdbdbd;
  cursor: default;
}

.registerButtons {
  display: flex;
  flex-direction: column;
}

.signupSpan {
  font-size: 14px;
  margin-top: 20px;
}

.signupLink {
  cursor: pointer;
  text-decoration: underline;
}

.lilSpacing {
  margin-top: 20px;
}

.registerError {
  color: red;
  font-weight: 500;
}

.registerSuccess {
  color: #64b5f6;
  font-weight: 500;
}
