.lotItemContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  border-radius: inherit;
}

.lotItem {
  width: 125px;
  text-align: center;
}

.oddRow {
  background: #dcdcdc;
}
