.headerBar {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
  box-shadow: rgba(29, 29, 29, 0.3) 0px 0px 1.25em 0.25em;
}

.headerTitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}