.backgroundShadow {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;

  @media (max-width: 768px) {
    height: 135%;
  }
}

.menuSlider {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  background-color: #616161;
  padding-top: 32px;
  border-radius: 0 10px 10px 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  z-index: 1;
}

.menuLayer {
  height: 500px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.titleText {
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
}

.settingsButton {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px #616161 solid;
  border-radius: 10px;
  padding: 10px 5px;
  margin-bottom: 20px;
  font-size: 12px;
  user-select: none;
}
.settingsButton:hover {
  background: #c4c4c4;
  cursor: pointer;
}
.settingsButton:active {
  border-bottom: 2px black solid;
}

.button {
  margin-top: 30px;
  min-height: 35px;
  border-radius: 5px;
  border: 2px solid black;
}
.button:hover {
  cursor: pointer;
  background: red;
}

.delButton {
  background: pink;
}

.reqButton {
  background-color: lightblue;
}
