.backgroundShadow {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;

  @media (max-width: 768px) {
    height: 135%;
  }
}

.menuModal {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  background-color: #616161;
  padding-top: 32px;
  border-radius: 0 10px 10px 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  z-index: 1;
}

.menuLayer {
  position: fixed;
  height: 400px;
  width: 70%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.addButton {
  height: 25px;
  border-radius: 5px;
  border: 2px solid #616161;
  background-color: #64b5f6;
}
.addButton:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.addButton:focus {
  outline: none;
}
.addButton:active {
  border-color: white;
}
.addButton:disabled {
  border: black;
  background-color: #616161;
}

h6 {
  font-size: 10px;
  margin: auto 0;
  padding-right: 5px;
}

.detailInfoRow {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
}

.addCoinForm {
  display: flex;
  flex-direction: column;
}

.coinIcon {
  height: auto;
  width: 30px;
  padding-right: 5px;
}

.coinName {
  border-bottom: 1px solid black;
}

label {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.addFormInput {
  height: 20px;
  border-radius: 5px;
  border: 2px solid #616161;
  font-size: 80%;
  margin-left: 5px;
  text-indent: 10px;
}

.inputRow {
  display: flex;
}

.requiredBorder {
  border: 2px ridge red;
}

.coinDisclaimer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-style: italic;
  color: red;
}
