body {
  margin: 0;
  background-color: #616161;
}

.appWrapper {
  font-family: 'Muli', sans-serif;
  max-width: 1080px;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  height: 550px;
  margin: 0 50px;
  border: 2px grey solid;
  border-radius: 10px;
  padding: 1%;

  // media @ mobile/tablet flex-direction: column
  // set a height etc...
}

.portfolioContainer {
  width: 50%;
  margin: 10px 1% 10px 10px;
  border-radius: 10px;
  background-color: #BDBDBD;
}

.rightSideContainer {
  width: 50%;
  margin: 10px 10px 10px 1%;
  border: 1px grey solid; //remove
  border-radius: 10px;

  .searchContainer {

  }

  .detailsContainer {

  }
}