body {
  margin: 5px 0;
  background-color: #616161;
}

.appWrapper {
  font-family: 'Muli', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  height: 650px;
  margin: 0 20px;
  border: 2px white solid;
  border-radius: 0 0 10px 10px;
  padding: 1%;
}

.portfolioContainer {
  width: 50%;
  margin: 10px 1% 10px 10px;
  border-radius: 10px;
  background-color: #BDBDBD;
}

.rightSideContainer {
  width: 50%;
  margin: 10px 1% 10px 10px;


  .searchContainer {
    height: 48%;
    border-radius: 10px;
    background-color: #BDBDBD;
    margin-bottom: 21px;
  }

  .detailsContainer {
    height: 48%;
    border-radius: 10px;
    background-color: #BDBDBD;
  }
}

@media(max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    padding: 10px;
    height: 100%;
  }

  .portfolioContainer {
    width: 100%;
    margin: 0;  // reset margins from desktop view
    margin-bottom: 21px;
    height: 300px;
  }

  .rightSideContainer {
    width: 100%;
    margin: 0;

    .searchContainer {
      height: 300px;
    }

    .detailsContainer {
      height: 300px;
    }
  }
}