.detailsContentContainer {
  display: flex;
  flex-direction: column;
  margin: 5%;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: rgba(29, 29, 29, 0.3) 0px 0px 1.25em 0.25em
}

.detailHeaderRow {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
}

.selectedCurrency {
  margin: auto 0;
}

.imageContainer {
  height: 100%;
  margin: auto 0;
}

.coinNameContainer {
  display: flex;
  margin: auto 0;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid black;
}

.addToggleCoinContainer {
  display: flex;
  flex-direction: column;
  margin: auto 0;

  .buttonContainers {
    display: flex;
    padding-bottom: 2px;

    @media(max-width: 425px) {
      flex-direction: column;
    }
  }

  .addButton {
    height: 25px;
    border-radius: 5px;
    border: 2px solid #616161;
    background-color: #64B5F6;
  }
  .addButton:hover {
    background-color: #2196F3;
    cursor: pointer;
  }
  .addButton:focus {
    outline: none;
  }
  .addButton:active {
    border-color: white;
  }

  h6 {
    font-size: 10px;
    margin: auto 0;
    padding-right: 5px;
  }

}

.detailInfoRow {
  font-size: 20px;
  padding: 10px;

  .coinInfoRow {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

}
    
.selectCoinMessage {
  text-align: center;
  padding-top: 20%;
}

.coinIcon {
  height: auto;
  width: 30px;
  padding-right: 5px;
  border-radius: 50%;
}